
footer #footerbox { 
	background-color:rgba(40,40,40);
	width:100%;
	height:250px;
}

footer #h2 { 
	color:rgba(153,153,153);
	text-align:center;
	font-size:18px;
	font-weight: bold;
	margin-top: 10px;
	
}
.e1_300 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:219.2899932861328px;
	height:18px;
	position:absolute;
	left:515.4500122070312px;
	top:44.79999923706055px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e1_301 { 
	width:257.0899963378906px;
	height:20px;
	position:absolute;
	left:496.45001220703125px;
	top:62.97999954223633px;
}
.e1_302 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:256px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e1_303 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:203.80999755859375px;
	height:18px;
	position:absolute;
	left:523.1900024414062px;
	top:83.16999816894531px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e1_304 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:197.33999633789062px;
	height:18px;
	position:absolute;
	left:526.4199829101562px;
	top:102.36000061035156px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e1_305 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:302.3299865722656px;
	height:18px;
	position:absolute;
	left:473.94000244140625px;
	top:121.55000305175781px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e1_306 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:252.52999877929688px;
	height:18px;
	position:absolute;
	left:498.8299865722656px;
	top:140.72999572753906px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e1_307 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:195.88999938964844px;
	height:18px;
	position:absolute;
	left:527.1599731445312px;
	top:175.9199981689453px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e1_308 { 
	width:309.3299865722656px;
	height:16px;
	position:absolute;
	left:470.3299865722656px;
	top:205.11000061035156px;
}
.e1_309 { 
	width:140.4199981689453px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_310 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:37px;
	height:16px;
	position:absolute;
	left:7.5px;
	top:0px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
	line-height:px;
}
.e1_311 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:74px;
	height:16px;
	position:absolute;
	left:58.310001373291016px;
	top:0px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
	line-height:px;
}
.e1_312 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:37px;
	height:16px;
	position:absolute;
	left:147.9199981689453px;
	top:0px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
	line-height:px;
}
.e1_313 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:103px;
	height:16px;
	position:absolute;
	left:199.72999572753906px;
	top:0px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
	line-height:px;
}
