
footer #footerbox { 
	display: flex;
	background-color:rgba(40,40,40);
	width:100%;
	height:250px;
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

footer #footerbox h2 { 
	color:rgba(153,153,153);
	font-size:24px;
	font-weight: bold;
	margin-bottom: 30px;
}
footer #footerbox ul { 
	color:rgba(153,153,153);
	font-size:15px;

}

@media (max-width: 830px) {
    footer #footerbox h2 {
        font-size: 18px;
		margin-bottom: 10px;
    }

    footer #footerbox ul {
        font-size: 12px;
    }
}