.20_2 { 
	overflow:hidden;
}
.e20_2 { 
	width:1920px;
	height:1776px;
	position:absolute;
}
.e1_62 { 
	width:1280px;
	height:672px;
	position:absolute;
	left:320px;
	top:1104px;
}
.e1_63 { 
	width:640px;
	height:671.75px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_64 { 
	width:610px;
	height:306px;
	position:absolute;
	left:15px;
	top:15px;
}
.e1_65 { 
	width:610px;
	height:306px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(img/66d74ec834e77_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_66 { 
	width:610px;
	height:305.75px;
	position:absolute;
	left:15px;
	top:351px;
}
.e1_67 { 
	width:610px;
	height:305.75px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(img/ec4b64a857ee6_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_68 { 
	width:640px;
	height:672px;
	position:absolute;
	left:640px;
	top:0px;
}
.e1_69 { 
	width:610px;
	height:306px;
	position:absolute;
	left:15px;
	top:15px;
}
.e1_70 { 
	width:610px;
	height:306px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(img/46c55a77b7404_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_71 { 
	width:610px;
	height:306px;
	position:absolute;
	left:15px;
	top:351px;
}
.e1_72 { 
	width:610px;
	height:306px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(img/e592f669aff6f_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_4 { 
	width:1280px;
	height:524.25px;
	position:absolute;
	left:320px;
	top:580px;
}
.e1_5 { 
	color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:365.8699951171875px;
	height:45px;
	position:absolute;
	left:457.1600036621094px;
	top:0px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
	line-height:px;
}
.e1_6 { 
	width:1265px;
	height:448.25px;
	position:absolute;
	left:7.5px;
	top:76px;
}
.e1_7 { 
	width:1265px;
	height:448.25px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_8 { 
	width:2219px;
	height:448.25px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_9 { 
	width:302px;
	height:402.6600036621094px;
	position:absolute;
	left:7.5px;
	top:0px;
	background-image:url(img/link___ae293b6d70048_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_10 { 
	width:302px;
	height:402.1600036621094px;
	position:absolute;
	left:324.5px;
	top:0px;
	background-image:url(img/link___9712a68aeb501_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_11 { 
	width:302px;
	height:402.1600036621094px;
	position:absolute;
	left:641.5px;
	top:0px;
	background-image:url(img/link___16c42a0884bc4_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_12 { 
	width:302px;
	height:402.6600036621094px;
	position:absolute;
	left:958.5px;
	top:0px;
	background-image:url(img/link___7c3ea9b5479f9_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.1_13 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e1_13 { 
	width:30px;
	height:30px;
	position:absolute;
	left:25px;
	top:209.1300048828125px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
}
.e1_14 { 
	color:rgba(255, 255, 255, 1);
	width:24.200000762939453px;
	height:28px;
	position:absolute;
	left:1px;
	top:1px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.1_15 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e1_15 { 
	width:30px;
	height:30px;
	position:absolute;
	left:1210px;
	top:209.1300048828125px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
}
.e1_16 { 
	color:rgba(255, 255, 255, 1);
	width:24.200000762939453px;
	height:28px;
	position:absolute;
	left:5px;
	top:1px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e1_3 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1920px;
	height:480px;
	position:absolute;
	left:0px;
	top:0px;
}
